<img src="https://content.linkedin.com/content/dam/business/marketing-solutions/global/en_US/blog/2015/11/george-costanza.jpg">
<h2>George</h2>
<button type="button" ng-click="gc.GerogeController()" name="georgeButton">George</button>
<h3>George is neurotic, self-loathing and dominated by his parents, yet also
   prone to occasional periods of overconfidence that invariably arise at the
    worst possible time.  He exhibits a number of negative character traits,
     among them dishonesty and insecurity, many of which seem to stem from a
      dysfunctional childhood with his squabbling parents Frank and Estelle,
       and often form the basis of his involvement in various plots, schemes
        and awkward social encounters. </h3>
