<img src="https://everypassingcar.files.wordpress.com/2013/07/joeystoner2.jpg">
<h2>Joey</h2>
<button type="button" ng-click="jc.JoeyController()" name="joeyButton"></button>
<h3>Joey is portrayed as promiscuous, and dim-witted, but good-natured, as well
   as very loyal, caring, and protective of his friends.  He also has a soft
    toy penguin named Hugsy (his "bedtime penguin pal"), whom he is very fond
     of and does not like to share. He also doesn't like sharing food and has
      difficulty with simple mathematics (evidenced by his using a calculator
       to add together 500+500).</h3>
